@using BackendAuthTemplate.EmailComponents.Shared
@namespace BackendAuthTemplate.EmailComponents.Shared

<div style="@Styles.Footer">
    Cet e-mail a été envoyé depuis une adresse <strong>noreply</strong>.<br />
    Merci de ne pas répondre directement.<br /><br />
</div>
